In [7]:
#INHERITANCE...
class Employee:
    def __init__(self,fname,lname,salary):
        self.fname=fname
        self.lname=lname
        self.salary=salary
class Details(Employee):
    def __init__(self,fname,lname,salary,age,exp):
        super().__init__(fname,lname,salary)
        self.age=age
        self.exp=exp
ob1=Details('rahul','kaushal',20000,23,'8yrs')

print(ob1.__dict__)

{'fname': 'rahul', 'lname': 'kaushal', 'salary': 20000, 'age': 23, 'exp': '8yrs'}

In [10]:
class Nasir:
    def __init(self,fname,lname,age):
        self.fname=fname
        self.lname=lname
        self.age=age
    def statement(self):
        print(f"{self.lname} is grandson of nasir nana")
ob1=Nasir('shaik','nasir',23)
ob1.statement()

TypeError: Nasir() takes no arguments

In [35]:
class Nasir:
    def __init__(self,fname,lname,age):
        self.fname=fname
        self.lname=lname
        self.age=age
    def statement(self):
        print(f"{self.lname} is grandson of nasir nana")
        print("hyder is the grand son hyder ke dada")
ob1=Nasir('shaik','nasir',23)
ob1.statement()

nasir is grandson of nasir nana
hyder is the grand son hyder ke dada

In [19]:
class Employee:
    def __init__(self,fname,lname,salary):
        self.fname=fname
        self.lname=lname
        self.salary=salary
    def detalis(self):
        print(f"the best employee of the company is {self.fane} {self.lname}")
class Salary(Employee):
    def __init__(self,fname,lname,salary,exp):
        super().__init__(fname,lname,salary)
        self.exp=exp
emp1=Salary('shaik','hyder',40000,'6years')
print(emp1.__dict__)
emp1.details

{'fname': 'shaik', 'lname': 'hyder', 'salary': 40000, 'exp': '6years'}

AttributeError: 'Salary' object has no attribute 'details'

In [38]:
class Nasir:
    def __init__(self,fname,lname,gender):
        self.fname=fname
        self.lname=lname
        self.gender=gender
    def statement(self):
        print(f"{self.fname} is a grand son of nasir nana")
ob1=Nasir('nasir','shaik','female')
ob1.statement()
print(ob1.__dict__)

nasir is a grand son of nasir nana
{'fname': 'nasir', 'lname': 'shaik', 'gender': 'female'}

In [24]:
class Employee:
    def __init__(self,fname,lname,salary):
        self.fname=fname
        self.lname=lname
        self.salary=salary
    def detalis(self):
        print(f"the best employee of the company is {self.fane} {self.lname}")
class Salary(Employee):
    def __init__(self,fname,lname,salary,exp):
        super().__init__(fname,lname,salary)
        self.exp=exp
emp1=Salary('shaik','hyder',40000,'6years')
print(emp1.__dict__)
emp1.Employee()

{'fname': 'shaik', 'lname': 'hyder', 'salary': 40000, 'exp': '6years'}

AttributeError: 'Salary' object has no attribute 'Employee'

In [33]:
class Employee:
    def __init__(self,fname,lname,salary):
        self.fname=fname
        self.lname=lname
        self.salary=salary
class Salary(Employee):
    def __init__(self,fname,lname,salary,exp):
        super().__init__(fname,lname,salary)
        self.exp=exp
    def detalis(self):
        print(f"the best employee of the company is {self.fname} {self.lname}")
emp1=Salary('shaik','hyder',40000,'6years')
emp1.detalis()
emp2=Salary('shaik','ali',50000,'7years')
emp2.detalis()

the best employee of the company is shaik hyder
the best employee of the company is shaik ali

In [39]:
class Friends:
    def __init__(self,fname,lname):
        self.fname=fname
        self.lname=lname
class Bhoom(Friends):
    def __init__(self,fname,lname,gender):
        super().__init(fname,lname)
        self.gender=gender
    def statement(self):
        print(f"{self.fname} is good boy")
    def statement2(self):
        print(f"{self.fname} is a chammak challo")
    def statement3(self):
        print(f"{self.fname} is a gundu raja")
    def statement4(self):
        print(f"{self.fname} is a led light")
    def statement5(self):
        print(f"{self.fname} is tube tube tube light")
ob1=Bhoom('hyder','shaik','male')
ob1.statement()
ob2=Bhoom('nasir','shaik','female')
ob2.statement2()
ob3=Bhoom('mahir','shaik','male')
ob3.statement3()
ob4=Bhoom('nafeesa','pinjeri','female')
ob4.statement4()
ob5=Bhoom('khamar','tapal','female')
ob5.statement5()

AttributeError: 'super' object has no attribute '_Bhoom__init'

In [40]:
class Friends:
    def __init__(self,fname,lname):
        self.fname=fname
        self.lname=lname
class Bhoom(Friends):
    def __init__(self,fname,lname,gender):
        super().__init__(fname,lname)
        self.gender=gender
    def statement(self):
        print(f"{self.fname} is good boy")
    def statement2(self):
        print(f"{self.fname} is a chammak challo")
    def statement3(self):
        print(f"{self.fname} is a gundu raja")
    def statement4(self):
        print(f"{self.fname} is a led light")
    def statement5(self):
        print(f"{self.fname} is tube tube tube light")
ob1=Bhoom('hyder','shaik','male')
ob1.statement()
ob2=Bhoom('nasir','shaik','female')
ob2.statement2()
ob3=Bhoom('mahir','shaik','male')
ob3.statement3()
ob4=Bhoom('nafeesa','pinjeri','female')
ob4.statement4()
ob5=Bhoom('khamar','tapal','female')
ob5.statement5()

hyder is good boy
nasir is a chammak challo
mahir is a gundu raja
nafeesa is a led light
khamar is tube tube tube light