In [4]:
#constructors is a special method in a class used to assign and initilaize values of a boject and class
#syntax:=
    #def __init__():
        #constructors statements...

class Person():
    def __init__(self):
        print("my self hyder")
    def dispaly(self):
        print(f"{self.name} is a {self.occ}")
a = Person()
a.name="ali"
a.occ="uff"
a.display()

my self hyder

AttributeError: 'Person' object has no attribute 'display'

In [10]:
class Student:
    def  details():
        name="hyder"
        age=12
        occ="qsd"
obj=Students()
obj.name
obj.age
obj.occ
print(Student)

NameError: name 'Students' is not defined

In [13]:
class Human:
    def __init__(self):
        print("i am loki")
    def about(self,n,o):
        self.name=n
        self.occ=o
tom=Human()
tom.name="loki"
tom.occ="god"
tom.about()

i am loki

TypeError: Human.about() missing 2 required positional arguments: 'n' and 'o'

In [20]:
class Human:
    def __init__(self,fname,lname,salary):
        self.fname=fname
        self.lname=lname
        self.salary=salary
hyder=Human('shaik','ali',23456)
rahul=Human('sdf','fsadg',3245)
print(hyder.fname,rahul.fname)

shaik sdf

In [23]:
class Employee:
    
    def __init__(self,fname,lname,salary):
        self.fname=fname
        self.lname=lname
        self.salary=salary
emp=Employee('hyder','shaik',787678)
emp2=Employee('ali','shaik',324525)
emp3=Employee('shaik','akhil',4352345)
print(emp.__dict__)
print(emp2.__dict__)

{'fname': 'hyder', 'lname': 'shaik', 'salary': 787678}
{'fname': 'ali', 'lname': 'shaik', 'salary': 324525}

In [33]:
class Employee:
    increment=10
    no of employee=0
    def __init__(self,fname,lname,age,salary):
        self.fname=fname
        self.lname=lname
        self.age=age
        Employee.no of employee +=1
        self.salary=salary
    def increse():
        self.salry=self.salary*self.increment
emp1=Employee('hyder','shaik',21,60000)
emp2=Employee('ali','shaik',22,40000)
emp3=Employee('harry','hus',33,25000)
emp4=Employee('ranveer','padkune',33,60000)
prnt(Employee.no of employee)
print(emp1.__dict__)
print(emp2.__dict__)
print(emp3.__dict__)
print(emp4.__dict__)

SyntaxError: invalid syntax (2102538488.py, line 3)

In [38]:
class Employee:
    increment=10
    no_of_employee= 0
    def __init__(self,fname,lname,age,salary):
        self.fname=fname
        self.lname=lname
        self.age=age
        self.salary=salary
        Employee.no_of_employee=+1
    def increment():
        self.salary=self.salary*selaf.increment
emp1=Employee('hyder','shaik',21,20000)
emp2=Employee('ali','shail',33,40000)
emp3=Employee('israr','hakeem',8,50000)
print(Employee.no_of_employee)
print(emp1.__dict__)
print(emp2.__dict__)
print(Employee.no_of_employee)
print(emp3.__dict__)
print(Employee.no_of_employee)

1
{'fname': 'hyder', 'lname': 'shaik', 'age': 21, 'salary': 20000}
{'fname': 'ali', 'lname': 'shail', 'age': 33, 'salary': 40000}
1
{'fname': 'israr', 'lname': 'hakeem', 'age': 8, 'salary': 50000}
1

In [39]:
class Employee:
    increment=10
    no_of_employee= 0
    def __init__(self,fname,lname,age,salary):
        self.fname=fname
        self.lname=lname
        self.age=age
        self.salary=salary
        Employee.no_of_employee+=1
    def increment():
        self.salary=self.salary*selaf.increment
print(Employee.no_of_employee)
emp1=Employee('hyder','shaik',21,20000)
emp2=Employee('ali','shail',33,40000)
emp3=Employee('israr','hakeem',8,50000)
print(Employee.no_of_employee)
print(emp1.__dict__)
print(emp2.__dict__)
print(Employee.no_of_employee)
print(emp3.__dict__)
print(Employee.no_of_employee)

3
{'fname': 'hyder', 'lname': 'shaik', 'age': 21, 'salary': 20000}
{'fname': 'ali', 'lname': 'shail', 'age': 33, 'salary': 40000}
3
{'fname': 'israr', 'lname': 'hakeem', 'age': 8, 'salary': 50000}
3

In [40]:
class Employee:
    increment=10
    no_of_employee= 0
    def __init__(self,fname,lname,age,salary):
        self.fname=fname
        self.lname=lname
        self.age=age
        self.salary=salary
        Employee.no_of_employee+=1
    def increment():
        self.salary=self.salary*selaf.increment
print(Employee.no_of_employee)
emp1=Employee('hyder','shaik',21,20000)
emp2=Employee('ali','shail',33,40000)
emp3=Employee('israr','hakeem',8,50000)
print(Employee.no_of_employee)
print(emp1.__dict__)
print(emp2.__dict__)
print(Employee.no_of_employee)
print(emp3.__dict__)
print(Employee.no_of_employee)

0
3
{'fname': 'hyder', 'lname': 'shaik', 'age': 21, 'salary': 20000}
{'fname': 'ali', 'lname': 'shail', 'age': 33, 'salary': 40000}
3
{'fname': 'israr', 'lname': 'hakeem', 'age': 8, 'salary': 50000}
3

In [41]:
class Employee:  #class name
    increment=10
    no_of_employee= 0
    def __init__(self,fname,lname,age,salary):
        self.fname=fname
        self.lname=lname                            #constructor part
        self.age=age
        self.salary=salary
        Employee.no_of_employee+=1
    def increment():
        self.salary=self.salary*selaf.increment
print(Employee.no_of_employee)
emp1=Employee('hyder','shaik',21,20000)  #emp1=object name
print(Employee.no_of_employee)
emp2=Employee('ali','shail',33,40000)
print(Employee.no_of_employee)
emp3=Employee('israr','hakeem',8,50000)
print(Employee.no_of_employee)
print(emp1.__dict__)
print(emp2.__dict__)
print(emp3.__dict__)

0
1
2
3
{'fname': 'hyder', 'lname': 'shaik', 'age': 21, 'salary': 20000}
{'fname': 'ali', 'lname': 'shail', 'age': 33, 'salary': 40000}
{'fname': 'israr', 'lname': 'hakeem', 'age': 8, 'salary': 50000}