In [1]:
print("helloworld")

helloworld

In [1]:
num = int(input("enter a number:"))
if num%2==0:
    print("is even")

enter a number:45

In [17]:
multi = '''str1
str2
str3
....'''
print("multi")

multi

In [19]:
a=10
salary=658.25
name = "ali"
print(type(a))
print(type(salary))
print(type(name))

<class 'int'>
<class 'float'>
<class 'str'>

str1= "hello"
str2= "hello world"
print(str1[0:2])
print(str2[0:5])

In [20]:
str1= "hello"
str2= "hello world"
print(str1[0:2])
print(str2[0:5])

he
hello

In [22]:
name = "hyder"
salary = 3452.09
age = 20
location ="main bazar"
print(type(location))

<class 'str'>

In [24]:
print(name)
print(salary)

hyder
3452.09

In [32]:
num = int(input("enter a number:"))
if(num %2 ==0):
    print("num is even")
else:
    print("num is odd")

enter a number:655
num is odd

In [39]:
fruits = ["apple","mango","grapes"]
for apple in fruits :
    print(apple)

apple
mango
grapes

In [ ]:
a= 10
while(a<=10):
    print(a)
    a+=2

In [ ]:
a= 10
while(a<=10):
    print(a)
    a+=2

In [ ]:
try:
    num = int(input("enter an integer:"))
    a=[3,4]
    print(a[num])
except valueError:
    print("number entered is not an integer")
except indexError:
    print("index error")