In [2]:
print("hello world")

hello world

In [4]:
print("hello world",3)

hello world 3

In [5]:
a=19
b=29
c=a+b
print("value of c :",c )

value of c : 48

In [6]:
print(type(a))

<class 'int'>

In [7]:
a=19
print(float(a))

19.0

In [10]:
a=29.33
b=23.33
c=a+b
print(int(a)+int(b))

52

In [11]:
a=29.33
b=23.33
c=a+b
print(int(a)+int(b),c)

52 52.66

In [16]:
a=10
b=20
print("sum of a and b is:",a+b)
print("sub of a and b is:",a-b)
print("mul of a and b is:",a*b)
print("div of a and b is:",a/b)
print("mod of a and b is:",a//b)

sum of a and b is: 30
sub of a and b is: -10
mul of a and b is: 200
div of a and b is: 0.5
mod of a and b is: 0

In [18]:
a=intput("enter a number:")
b=input("enter a number:")
print("sum of a and b is:",a+b)
print("sub of a and b is:",a-b)
print("mul of a and b is:",a*b)
print("div of a and b is:",a/b)
print("mod of a and b is:",a//b)

NameError: name 'intput' is not defined

In [19]:
a=input("enter a number:")
b=input("enter a number:")
print("sum of a and b is:",a+b)
print("sub of a and b is:",a-b)
print("mul of a and b is:",a*b)
print("div of a and b is:",a/b)
print("mod of a and b is:",a//b)

enter a number:88
enter a number:44
sum of a and b is: 8844

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [20]:
a=input(enter a number:)
b=input(enter a number:)
print("sum of a and b is:",a+b)
print("sub of a and b is:",a-b)
print("mul of a and b is:",a*b)
print("div of a and b is:",a/b)
print("mod of a and b is:",a//b)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1570266542.py, line 1)

In [22]:
a=int(input("enter a number:"))
b=int(input("enter a number:"))
print("sum of a and b is:",a+b)
print("sub of a and b is:",a-b)
print("mul of a and b is:",a*b)
print("div of a and b is:",a/b)
print("mod of a and b is:",a//b)

enter a number:55
enter a number:99
sum of a and b is: 154
sub of a and b is: -44
mul of a and b is: 5445
div of a and b is: 0.5555555555555556
mod of a and b is: 0

In [23]:
a=float(input("enter a number:"))

enter a number:64

In [24]:
print(float(a))

64.0

In [25]:
print(id(a))

2456883923472

In [27]:
a=10
b=29
print(id(a),id(b))

2456780407312 2456780407920

In [28]:
a=10
b=10
print(id(a),id(b))

2456780407312 2456780407312

In [31]:
a=28
b=23
c=65
print("sum of values a nd b:",a+b)
print("sum of valus c and a:",c+a)

sum of values a nd b: 51
sum of valus c and a: 93

In [1]:
str1="hyder"
print(str1)

hyder

In [2]:
print(str1[3])

e

In [3]:
print(len(str1))

5

In [5]:
a="hello i am hyder"
print(a[-3:-2])

d

In [6]:
str2='''hi bro,"nice to meet you"'''
print(str2)

hi bro,"nice to meet you"

In [13]:
print(str2.captalize())

AttributeError: 'str' object has no attribute 'captalize'

In [8]:
print(capitalize(str2))

NameError: name 'capitalize' is not defined

In [9]:
print(str2.capitalize)

<built-in method capitalize of str object at 0x0000025B1982B320>

In [11]:
print(capitalize.str2)

NameError: name 'capitalize' is not defined

In [12]:
print(capitalize.str2)

NameError: name 'capitalize' is not defined

In [14]:
str2='''hi bro,"nice to meet you"'''
print(str2.capatlize())

AttributeError: 'str' object has no attribute 'capatlize'

In [15]:
print(str2.capatlize('''hi bro,"nice to meet you"'''))

AttributeError: 'str' object has no attribute 'capatlize'

In [16]:
str="abcd"
print(str.capitalize())

Abcd

In [17]:
str3='welcome to my world'
print(str3.capitalize)

Welcome to my world

In [18]:
str3='welcome to my world'
print(str3.title())

Welcome To My World

In [21]:
print(str.count())

TypeError: count() takes at least 1 argument (0 given)

In [22]:
print(str.count())

TypeError: count() takes at least 1 argument (0 given)

In [23]:
print(str.upper())

ABCD

In [24]:
print(str.count())

TypeError: count() takes at least 1 argument (0 given)

In [25]:
print(str.title())

Abcd

In [4]:
a=10
b=20
if(a>b):
    print("a is big number",a)
else:
    print("b is big number",b)

b is big number 20

In [5]:
a=int(input("enter a number:"))
b=int(input("enter a number:"))
if(a>b):
    print("a is big number",a)
else:
    print("b is big number",b)

enter a number:44
enter a number:88
b is big number 88

In [3]:
a=12
if(a>44):
    print("a is big number")
else:
    print("a is small")

a is small

In [1]:
print("hello wold")

hello wold

In [7]:
a=int(input("Enter a number:"))
b=int(input("Enter a number:"))
if(a==b):
    print("I LOVE YOU",a)
else:
    print("NOOOOOOO.....",b)

Enter a number:19
Enter a number:19
I LOVE YOU 19

In [9]:
nm="harry"
print(nm[-3:-2])

r

In [2]:
time=float(input("enter a number:"))
if(time>=12):
    print("good morning sir",time)
elif(time==12):
    print("good afternoon sir",time)
elif(time<=5):
    print("good evening sir",time)
else:
    print("HAVE A GOOD DAY SIR",time)

enter a number:6
HAVE A GOOD DAY SIR 6.0

In [3]:
print("byee...done for today")

byee...done for today

In [1]:
print("hello")

hello

In [3]:
a=19
match a:
    case 0:
        print("x is zero")
    case 19:
        print("x is nineteen")

x is nineteen

In [7]:
a=float(input("enter a number"))
match a:
    case 3:
        print("a is three")
    case 2.3:
        print("a is 2.4")

enter a number2.3
a is 2.4

In [11]:
a="hyder"
for i in a:
 print(a)

hyder
hyder
hyder
hyder
hyder

In [16]:
a=["red","blue","pink","orange"]
for i in a:
    print(i)

red
blue
pink
orange

In [18]:
for k in range(0,5):
print(k)

IndentationError: expected an indented block after 'for' statement on line 1 (3430008702.py, line 2)

In [19]:
for k in range(0,5):
 print(k)

0
1
2
3
4

In [20]:
for k in range(2,4):
    print(k)

2
3

In [21]:
for k in range(2,20,2):
    print(k)

2
4
6
8
10
12
14
16
18

In [23]:
for k in range(1,30,2):
    print(k)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29

In [24]:
for k in range(0,50,5):
    print(k)

0
5
10
15
20
25
30
35
40
45

In [25]:
for k in range(a,d,b):
    print(k)

NameError: name 'd' is not defined

In [26]:
a=int(input("enter a number:"))
while(a<10):
    print(a)
    a=a+1

enter a number:2
2
3
4
5
6
7
8
9

In [28]:
a=int(input("enter a number:"))
while(a/2==0):
    print("a is even number")
else:
    print("a is not even")
    a=a+1

enter a number:9
a is not even

In [ ]:
a=10
while(a>15):
    print("a is even number")
    a=a+1

In [ ]:
a=20
while(a<25):
    print(a)

In [1]:
print("wlecome again")

wlecome again

In [9]:
#break
for i in range(15):
    if(i==10):
        break
        print(i)

In [10]:
#break
for i in range(15):
    if(i==10):
        break
        print(i)

In [11]:
list=[10,25,58,77,]
print(list)

[10, 25, 58, 77]

In [12]:
#positive indexing
print(list[2])

58

In [13]:
#negitive indexing
ptint(list[-2])

NameError: name 'ptint' is not defined

In [15]:

#negitive indexing
print(list[-2])

58

In [16]:
print(list[1-2])
#1-2=-1

77

In [20]:
lst2=[2,3,4,"ali","hyder",33,88,"shaik"]
print(lst2[1:7:3])

[3, 'hyder']

In [21]:
lst3=list+lst2
print(lst3)

[10, 25, 58, 77, 2, 3, 4, 'ali', 'hyder', 33, 88, 'shaik']

In [22]:
print(lst3[1:8:2])
#jumping indexing values

[25, 77, 3, 'ali']

In [23]:
lst2.append(99)
print(lst2)
list.sort
print(list)

[2, 3, 4, 'ali', 'hyder', 33, 88, 'shaik', 99]
[10, 25, 58, 77]

In [29]:
lst2.count()
print(count(lst2))

TypeError: list.count() takes exactly one argument (0 given)

In [30]:
lst4=[23,34,5,6,23,,66576585876,,23,4]
list.extend(lst4)
print(list)

SyntaxError: invalid syntax (3977304786.py, line 1)

In [32]:
lst4=[23,34,5,6,23,66576585876,23,4]
list.extend(lst4)
print(list)

[10, 25, 58, 77, 23, 34, 5, 6, 23, 66576585876, 23, 4]

In [39]:
list6=[i*i for i in range(10)]
if(i%2==0):
    print(list6)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [42]:
list=["shaik","hyder","ali"]
print(list)
print("byee done for day")

['shaik', 'hyder', 'ali']
byee done for day

In [1]:
#tuple
tuo=(1,2,3,4)
print(tup)

NameError: name 'tup' is not defined

In [2]:
#tuple
tup=(1,2,3,4)
print(tup)

(1, 2, 3, 4)

In [5]:
tup2=(2,)
print(type(tup2))

<class 'tuple'>

In [7]:
tup3=(2)
print(type(tup3))
#difference between tup2 and tup3 is comma(,)

<class 'int'>

In [12]:
print("WELCOME TO KBC")
print("who is hyder ali?")
opa="king"
opb="solider"
opc="lion"
print("correct answer:",opa,opb,opc)

WELCOME TO KBC
who is hyder ali?
correct answer: king solider lion

In [1]:
option=["select correct answer:"]
print(option)
if(correct answer==opa):
    print("king",opa)
elif(correct answer==opb):
    print("solider",opb)
else:
    print("lion",opc)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (531271804.py, line 3)

In [11]:
print("WELCOME TO KBC")
print("who is hyder ali?")
opa="king"
opb="solider"
opc="lion"
option=input("choose correct answer:")
if(option==opa):
    print("hyder is a king")
elif(option==opb):
    print("hyder is a solider")
else:
    print("hyder is lion")
print("congrats you won 10cr.........")

WELCOME TO KBC
who is hyder ali?
choose correct answer:king
hyder is a king
congrats you won 10cr.........

In [4]:
#recurssion
def factorial(n):
    if(n==0):
        return 0
    else:
        return n * factorial(n-1)
    print(factorial(6))

In [5]:
#recurssion
def factorial(n):
    if(n==0):
        return 1
    else:
        return n * factorial(n-1)
print(factorial(6))

720

In [3]:
#recurssion
def fibonacci(n):
    if(n==0):
        return 1
    else:
        return fibonacci(n-1)+fibonacci(n-1)
for i in range(10):
    print(fibonacci(i))

1
2
4
8
16
32
64
128
256
512

In [2]:
print("hello world")

hello world

In [ ]:
def fibonacci(n):
    if(n==1):
        return 0
    else:
        return fibonacci(n-1)+fibonacci(n-1)
for i in range(10):
    print(fibonacci(i))

In [2]:
set={1,2,3,33,4,2,3,4}
print(set)

{1, 2, 3, 4, 33}

In [6]:
def fibnocci(n):
    if(n==1):
        return 1
    elsef(n-1)-f(n-2)
print(fibnocci(3))

SyntaxError: expected ':' (2408586305.py, line 4)

In [9]:
def fibnocci(n):
    if(n==1):
        return 1
    else:
        f(n-1)-f(n-2)
for i n range(12):
    print(fibnocci(i))

SyntaxError: invalid syntax (4085217319.py, line 6)

In [11]:
def fibnocci(n):
    if(n==1):
        return 1
    else:
        return f(n-1)-f(n-2)
for i n range(12):
    print(fibnocci(i))

SyntaxError: invalid syntax (1206552529.py, line 6)

In [13]:
def fibonacci(n):
    if(n==1):
        return 1
    else:
        return fibonacci(n-1)-fibonacci(n-2)
for i in range(1,12,3):
    print(fibonocci(i))

1

NameError: name 'f' is not defined

In [1]:
#sets
set1={1,2,3,3,4,4,2,2}
print(set1)

{1, 2, 3, 4}

In [4]:
set2={"hyder",3,2,"w",3,2,"e","w"}
print(set2)

{2, 3, 'w', 'e', 'hyder'}

In [6]:
set2.add(3)
print(set2)

{2, 3, 'w', 'e', 'hyder'}

In [7]:
set1.union(set2)

{1, 2, 3, 4, 'e', 'hyder', 'w'}

In [8]:
set1.intersection(set2)

{2, 3}

In [11]:
set3=set1.add(set2)
print(set3)

TypeError: unhashable type: 'set'

In [12]:
printbyee")

SyntaxError: unterminated string literal (detected at line 1) (933534554.py, line 1)

In [15]:
print('''byee....."todays job done"''')

byee....."todays job done"

In [4]:
dict={
    name=="hyder",
    roll==23,
    section=="csd",
}
print(dict)

NameError: name 'name' is not defined

In [5]:
dict={
    'name':'hyder',
    'rollno':19,
    'class':'csd'
}
print(dict)

{'name': 'hyder', 'rollno': 19, 'class': 'csd'}

In [8]:
print(dict.get('rollno'))

19

In [10]:
print(dict['name'])

hyder

In [11]:
print(dict['name1'])

KeyError: 'name1'

In [13]:
print(dict.get('name1'))

None

In [14]:
print(type(dict))

<class 'dict'>

In [15]:
print(id(dict))

1979701135936

In [17]:
print("hello")

hello

In [4]:
a=int(input("enter a number:"))
b=int(input("enter a number:"))
c=a*b
d=a+b
if(c>=1000):
    print("sum of a and b :",d)
else:
    print("reult:",c)

enter a number:500
enter a number:500
sum of a and b : 1000

In [5]:
#ELSE IN FOR LOOK
for i in range(1,21,2):
    print(i)

1
3
5
7
9
11
13
15
17
19

In [6]:
#ELSE IN FOR LOOK
for i in range(1,21,2):
    print(i)
else:
    print("i value not available")

1
3
5
7
9
11
13
15
17
19
i value not available

In [12]:
for i in range(6):
    print(i)
    if(i==3):
        break
else: 
    print("i value not available")

0
1
2
3

In [13]:

for i in range(1,21,2):
    print(i)
    if(i==18):
        break
else:
    print("i value not available")

1
3
5
7
9
11
13
15
17
19
i value not available

In [14]:

for i in range(1,21,2):
    print(i)
    if(i==9):
        break
else:
    print("i value not available")

1
3
5
7
9

In [27]:
a=input("enter a number:")
print("multiplication table of a is")
for i in range(1,11):
    print(f"{int(a)} *{i} = int(a)*{i})

SyntaxError: unterminated string literal (detected at line 4) (2199523746.py, line 4)

In [ ]:
try:
    num = int(input("enter an integer:"))
    a=[3,4]
    print(a[num])
except valueError:
    print("number entered is not an integer")
except indexError:
    print("index error")

In [1]:
try:
    num = int(input("enter an integer:"))
    a=[3,4]
    print(a[num])
except valueError:
    print("number entered is not an integer")
except indexError:
    print("index error")

enter an integer:1
4

In [5]:
dict={
    'name':'hyder',
    'section':'csd',
    'rollno':9
    {
        'address':'mainbazar',
        'town':'tadipatri'
        {
            'contact':9441596988,
            'mbl':657684687
        }
    }
}
 print(dict)

SyntaxError: invalid syntax (1426511977.py, line 5)